@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
   --font-family: variables.$fontFamily;

   --gradient-text: variables.$gradientText;
   --gradient-bar: variables.$gradientBar;

   --color-bg: variables.$colorBg;
   --color-footer: variables.$colorFooter;
   --color-blog: variables.$colorBlog;
   --color-text: variables.$colorText;
   --color-subtext: variables.$colorSubText;
}
